/* PRELOADER */

.preloader {
  position: fixed;
  //   top: 40%;
  left: 45%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.preloader.hidden {
  display: none;
}

.preloader.hide {
  animation: hidePreloader 5s;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
