.header__search-form {
  display: flex;
  // background-color: rgb(149, 159, 252);
  padding: 26px 0px 18px 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  // position: fixed;
  // width: 100%;
}

.header__search-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 5px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.header__search-btn {
  margin-left: 10px;
  color: black;
  background-color: white;
  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 4px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
