<header class="header">
  <nav class="header__navigation">
    <div class="drop-btn sort">Sort by <i class="fas fa-sort-down"></i></div>
    <div class="wrapper sort">
      <ul class="menu-bar sort">
        <li class="rating-sort">Rating<i class="fas fa-angle-right"></i></li>
        <li class="release-sort">Release date<i class="fas fa-angle-right"></i></li>
      </ul>
      <ul class="rating-item">
        <li class="back-rating-btn"><i class="fas fa-chevron-left"></i>Back</li>
        <li class="decrease-btn">Descending<i class="fas fa-sort-amount-down"></i></li>
        <li class="increase-btn">Ascending<i class="fas fa-sort-amount-up-alt"></i></li>
      </ul>
      <ul class="release-item">
        <li class="back-release-btn"><i class="fas fa-chevron-left"></i>Back</li>
        <li class="desc-btn">Descending<i class="fas fa-sort-amount-down"></i></li>
        <li class="asc-btn">Ascending<i class="fas fa-sort-amount-up-alt"></i></li>
      </ul>
    </div>
    <div class="drop-btn filter">Genre <i class="filter-btn fas fa-sort-down"></i></div>
    <div class="wrapper filter">
      <ul class="menu-bar filter">
        <li class="filter-item" data-filter="Action">Action</li>
        <li class="filter-item" data-filter="Adventure">Adventure</li>
        <li class="filter-item" data-filter="Animation">Animation</li>
        <li class="filter-item" data-filter="Comedy">Comedy</li>
        <li class="filter-item" data-filter="Crime">Crime</li>
        <li class="filter-item" data-filter="Documentary">Documentary</li>
        <li class="filter-item" data-filter="Drama">Drama</li>
        <li class="filter-item" data-filter="Family">Family</li>
        <li class="filter-item" data-filter="Fantasy">Fantasy</li>
        <li class="filter-item" data-filter="History">History</li>
        <li class="filter-item" data-filter="Horror">Horror</li>
        <li class="filter-item" data-filter="Music">Music</li>
        <li class="filter-item" data-filter="Mystery">Mystery</li>
        <li class="filter-item" data-filter="Romance">Romance</li>
        <li class="filter-item" data-filter="Science-Fiction">Science Fiction</li>
        <li class="filter-item" data-filter="TV-movie">TV Movie</li>
        <li class="filter-item" data-filter="Thriller">Thriller</li>
        <li class="filter-item" data-filter="War">War</li>
        <li class="filter-item" data-filter="Western">Western</li>
      </ul>
    </div>
  </nav>
  <!-- <button type="button" class="increase-btn">Increase</button>
  <button type="button" class="decrease-btn">Decrease</button>
  <button type="button" class="release-increase-btn">Release increase</button>
  <button type="button" class="release-decrease-btn">Release decrease</button> -->
</header>
