


<header class="header header__background-library" id="header">

    <div class="container header__container">
        <nav class="header__nav">
            <a href="/index.html" class="header__logo">
                <!-- <svg class="header__icon" width="24" height="24">
            <use href="../src/images/film.svg"></use>
          </svg>  -->
                Filmoteka
            </a>
            <ul class="header__pages">
                <li class="header__item">
                    <a href="/index.html" class="header__title">Home</a>
                </li>
                <li class="header__item">
                    <a href="/partials/my-library-header.html" class="header__title">My library</a>
                </li>
            </ul>
        </nav>


        <div class="header__button disabled">
            <button type="submit" class="header__btn" id="btn-watched">Watched</button>
            <button type="submit" class="header__btn" id="btn-queue">Queue</button>
        </div>

    </div>
   
  

</header>

