<div class="scroll-top hide">
  <div class="rocket">
    <i class="fas fa-rocket"></i>
    <i class="fas fa-cloud" style="--i: 0"></i>
    <i class="fas fa-cloud" style="--i: 1"></i>
    <i class="fas fa-cloud" style="--i: 2"></i>
    <i class="fas fa-cloud" style="--i: 3"></i>
  </div>
  <span><i></i></span>
</div>

<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores qui illo, ad quasi rerum autem
  modi at, voluptatem voluptas eius hic in amet vitae tempora nisi? Totam repellat laborum autem.
</div>
